
<section class="mode">
<% if @mode == nil %>
<h1>Do you want to play the computer or a friend?</h1>
 <form action='/game' method='POST'>
  <div class='mode'><input type='radio' name='mode' value='computer' id='computer'>Play against the computer</div>
  <div class='mode'><input type='radio' name='mode' value='friend' id='friend'>Play against a friend </div>
  <br><br><br><input type='submit' value='Go!'>
</form>
<% else %>

<% if @mode == "computer" %>

<h1>Choose one, <%= @name %>!</h1>

<form action='/choice' method='POST'>
  <div class='choice'><input type='radio' name='choice' value='rock' id='rock'>  Rock<br><img src='/images/rock.png' width='100'></div>
  <div class='choice'>
  <input type='radio' name='choice' value='paper' id='paper'>  Paper<br><img src='/images/paper.png' width='100'></div>
  <div class='choice'><input type='radio' name='choice' value='scissors' id='scissors'>  Scissors<br><img src='/images/scissors.png' width='100'></div>
  <div class='choice'><input type='radio' name='choice' value='lizard' id='lizard'>  Lizard<br><img src='/images/lizard.png' width='100'></div>
  <div class='choice'><input type='radio' name='choice' value='spock' id='spock'>  Spock <br><img src='/images/spock.png' width='100'></div>
  <br><br><br><input type='submit' value='Go!'>
</form>

<% elsif @mode == "friend" %>

<a href='/vs_friend'>Let the battle begin!</a>

<% else %>

<p>You didn't pick an opponent! <a href='/game'>Go back!</a></p>

<% end %>

<% end %>

</section>

