<section class="main_image"><img src='/images/rpsls_text.png' width='600'>
</section>

<section class="main_text">
<p class='welcome_rules'>
  Rock crushes scissors
  <br>Scissors cuts paper
  <br>Paper disproves Spock
  <br>Spock smashes scissors
  <br>Scissors decapitates lizard
  <br>Lizard poisons Spock
  <br>Spock vaporizes rock
  <br>Rock crushes lizard
  <br>Lizard eats paper
  <br>Paper covers rock
<p class='welcome'>

<% if @player %>

Welcome, <b><%= @player.name %></b>!

<br>Ready to play?
<br><br><a href='/game'>Let's play</a>

<% else %>

<br>What is your name???
<br>
<form action='/' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>

<% end %>

</p>

</section>

