<img src='/images/rpsls_text.png' width='600'>

<% if @player %>

<p>Welcome, <b><%= @player.name %></b>!

<p>Ready to play?</p>
<p><a href='/game'>Let's play</a></p>

<% else %>

<p>What is your name???</p>
<br>
<form action='/' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>

<% end %>