<section class="main_image"><img src='/images/rpsls_text.png' width='600'>
</section>

<section class="main_text">

<p class="welcome">

<% if @player %>

Welcome, <b><%= @player.name %></b>!

<br>Ready to play?
<br><br><a href='/game'>Let's play</a>

<% else %>

<br>What is your name???</br>
<br>
<form action='/' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>

<% end %>

</p>

</section>

