<!-- layout.erb -->
<!doctype html>
<html>
    <head>
        <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8">
        <title>ROCK PAPER SCISSORS LIZARD SPOCK</title>
    </head>
    <body>
       <%= yield %>
    </body>
</html>
