<% if !@player.choice %><h1>Choose one, <%= @player.name %>!</h1>
<br>
<form action='/player_one_choice' method='POST'>
<div class='choice'>
  <input type='radio' name='choice' value='rock' id='rock'><img src='/images/rock.png' width='100'>
</div>
<div class='choice'>
  <input type='radio' name='choice' value='paper' id='paper'><img src='/images/paper.png' width='100'>
</div>
<div class='choice'>
  <input type='radio' name='choice' value='scissors' id='scissors'><img src='/images/scissors.png' width='100'>
</div>
<div class='choice'>
  <input type='radio' name='choice' value='lizard' id='lizard'><img src='/images/lizard.png' width='100'>
</div>
<div class='choice'>
  <input type='radio' name='choice' value='spock' id='spock'><img src='/images/spock.png' width='120'>
</div>
  <br><input type='submit' value='Go!'>
</form>

<% else %>

<a href='/player_two_choice'> <%= @friend.name %>'s turn!</a>

<% end %>